.body {
  font-family: Verdana, sans-serif;
  background-color: black;
}

#id {
  color: aquamarine;
  font-size: 16px;
}

#large-title {
  font-weight: normal;
  font-size: 50px;
  font-color: white;
  text-align: center;
}
